<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Friend List</title>
</head>
<body>
<h1>Friend List</h1>
<form action="/custom/users/view/user" method="get">
    <div><input type="submit" value="на главную"/></div>
</form>
<table border="1">
    <form action="/custom/friends/add" method="post">
        <div><label>Friend name<input type="text" name="friendName"/></label></div>
        <div><input type="submit" value="add friend"/></div>
    </form>
</table>
<h3>Кто пригласил меня</h3>
<table border="1">
    <tr>
        <th>Friend name</th>
    </tr>
    <tr th:each="friend : ${inviters}">
        <td th:text="${friend.user.name}"></td>
        <td>
            <form th:action="@{/custom/friends/accept}" method="post" >
                <input type="hidden" name="id" th:value="${friend.id}"/>
                <input type="hidden" name="userInviterId"  th:value="${friend.user.id}"/>
                <input type="hidden" name="userId" th:value="${friend.friendUser.id}"/>
                <div><input type="submit" value="accept"/></div>
            </form>
        </td>
        <td>
            <form th:action="@{/custom/friends/reject}" method="post" >
                <input type="hidden" name="id" th:value="${friend.id}"/>
                <div><input type="submit" value="reject"/></div>
            </form>
        </td>
    </tr>
</table>
<h3>Кому я отправил приглашения</h3>
<table border="1">
    <tr>
        <th>Friend name</th>
    </tr>
    <tr th:each="friend : ${sended}">
        <td th:text="${friend.friendUser.name}"></td>
        <td>

            <form th:action="@{delete}" method="post" >
                <input type="hidden" name="id" th:value="${friend.id}"/>
                <div><input type="submit" value="delete"/></div>
            </form>
        </td>
    </tr>
</table>
<h3>My friends</h3>
<table border="1">
    <tr>
        <th>Friend name</th>
    </tr>
    <tr th:each="friend : ${accepted}">
        <td th:text="${friend.friendUser.name}"></td>
        <td>
            <form th:action="@{view}" method="get" >
                <input type="hidden" name="id" th:value="${friend.user.id}"/>
                <input type="hidden" name="friendId" th:value="${friend.friendUser.id}"/>
                <div><input type="submit" value="view"/></div>
            </form>
        </td>
        <td>
            <form th:action="@{deleteFriend}" method="post" >
                <input type="hidden" name="friendId" th:value="${friend.friendUser.id}"/>
                <div><input type="submit" value="delete"/></div>
            </form>
        </td>

    </tr>
</table>
</body>
</html>