<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<h1><span th:text="${name}"></span></h1>
<form action="/custom/users/view/delete" method="post">
    <input type="hidden" name="name" th:value="${name}"/>
    <div><input type="submit" value="delete account"/></div>
</form>
<form th:action="@{/logout}" method="post">
    <div><input type="submit" value="logout" id = "logout"/></div>
</form>
<form th:action="@{/custom/users/view/list}" method="get">
    <div><input type="submit" value="users list"/></div>
</form>
<form th:action="@{/reports}" method="post">
    <div><input type="submit" value="report"/></div>
</form>
<form th:action="@{/custom/tasks/add}" method="post">

    <div><label> Title: <input type="text" name="title"/> </label></div>
    <div><label> Description : <input type="text" name="description"/> </label></div>
    <div><input type="submit" value="add task"/></div>
</form>

<table border="1">
    <tr>
        <th>Title</th>
        <th>Description</th>

    </tr>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.title}"></td>
        <td th:text="${task.description}"></td>
        <td>
            <form th:action="@{/custom/tasks/delete}" method="post" >
                <input type="hidden" name="id" th:value="${task.id}"/>
                <div><input type="submit" value="delete"/></div>
            </form>
        </td>
    </tr>
</table>
</body>
</html>